@{
    ViewData["Title"] = "Login";
}
@inject LanguageService language

<div class="row">
    <div class="col-md-6">
        <h1 class="display-4">@language.Getkey("Welcome")</h1>
        <form method="POST" action="/Home/Login" autocomplete="on">
            <div class="form-group">
                <input type="text" class="form-control" name="Email" placeholder="Email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="Password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-secondary">Login</button>
        </form>
    </div>
</div>
